#!/usr/bin/make -f
# -*- makefile -*-

# one ring to rule them all ...
%:
	dh $@ --with python2,sphinxdoc

# hook for dh_numpy
override_dh_lintian:
	dh_lintian
	# backport friendly
	-[ -x /usr/bin/dh_numpy ] && dh_numpy

override_dh_clean:
	dh_clean
	rm -rf neuroshare.egg-info
	rm -rf build/docs

override_dh_auto_build:
	dh_auto_build
	python setup.py build_sphinx --build-dir=build/docs

